#nickname {
    border: 3px solid orange;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 45px;
    height: 55px;
    border-radius: 35px;
    font-size: 20px;
    text-align: center;
    display: block; 
    margin: 40px auto; 
}

#searchButton {
    background: none;
    border: 2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    display: block; 
    margin: -10px auto; 
}

#searchButton:hover{
    background-color: darkslategray;

}